<div class="list-item-row">
    <img class="photo" src="assets/imgs/contacts/{{ photo }}" alt="{{ firstName }}">
    <span class="name">
        <span class="first-name">{{ firstName }}</span>
        <span class="last-name">{{ lastName }}</span>
    </span>
</div>
<div class="list-item-row">
    <span class="label phone-label">Phone: </span>
    <span class="phone fn-edit-phone">{{ phone }}</span>
</div>
<div class="list-item-row">
    <span class="label email-label">Email: </span>
    <a href="mailto:{{ email }}" class="email">{{ email }}</a>
</div>
<div class="list-item-row">
    <span class="label city-label">City: </span>
    <span class="city">{{ city }}</span>
</div>
<div class="list-item-row">
    <span class="label bio-label">Bio: </span>
    <span class="bio">{{ bio }}</span>
</div>