<div class="contact-details-overlay hidden fn-contact-details-overlay">
    <h2>Are you sure you want to remove this contact?</h2>
    <button class="contact-remove-confirm fn-contact-remove-confirm">Remove it</button>
    <button class="contact-remove-cancel fn-contact-remove-cancel">Cancel</button>
</div>
<div class="list-item-row">
    <button class="contact-remove-button fn-contact-remove">Remove</button>
    <button class="contact-edit-button fn-contact-edit">Edit</button>
    <button class="contact-save-button fn-contact-save hidden">Save</button>
    <button class="contact-cancel-button fn-contact-cancel hidden">Cancel</button>
    <div class="photo-wrapper fn-edit-photo">
        <img class="photo" src="{{ photo }}" alt="{{ firstName }}">
    </div>
    <span class="name data-span">
        <span class="first-name">{{ firstName }}</span>
        <span class="last-name">{{ lastName }}</span>
    </span>
    <div class="name-edit-inputs">
        <input type="text" title="First Name" class="fn-edit-input hidden" value="{{ firstName }}" data-field="firstName" placeholder="First Name">
        <input type="text" title="Last Name" class="fn-edit-input hidden" value="{{ lastName }}" data-field="lastName" placeholder="Last Name">
    </div>
</div>
<div class="list-item-row">
    <span class="label bdate-label">Birthday: </span>
    <span class="bdate data-span">{{ bdate }}</span>
    <input type="text" title="Birthday" class="fn-edit-input hidden" value="{{ bdate }}" data-field="bdate">
</div>
<div class="list-item-row">
    <span class="label site-label">Website: </span>
    <a href="{{ site }}" class="site data-span">{{ site }}</a>
    <input type="text" title="Website" class="fn-edit-input hidden" value="{{ site }}" data-field="site">
</div>
<div class="list-item-row">
    <span class="label city-label">City: </span>
    <span class="city data-span">{{ city }}</span>
    <input type="text" title="City" class="fn-edit-input hidden" value="{{ city }}" data-field="city">
</div>
<div class="list-item-row">
    <span class="label bio-label">Bio: </span>
    <span class="bio data-span">{{ bio }}</span>
    <textarea title="Bio" class="bio-textarea fn-edit-input hidden" data-field="bio">{{ bio }}</textarea>
</div>